#container{
    background-image: url(./background.png);
}


#img{
    filter:drop-shadow(5px 1px 5px);    
}

.second_div{
    background-image: url('/second.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.secondpart{
    backdrop-filter: blur(15px);
    font-weight: 600;
}